name: clipper
on: workflow_dispatch
jobs:
  clipper:
    name: clipper
    runs-on: ubuntu-latest
    steps:
    - name: Install safeway-coupons
      run: pip install safeway-coupons
    - name: Clip Coupons
      run: safeway-coupons --help
